<div class='tab-pane fade' id="conveyor_tab" role="tabpanel">
    <div ng-controller="TemplateForm2Ctrl" ng-init="init({{ jfs.0.id }})">
    {% verbatim %}
    <h1>Conveyor</h1>
        <div class=row>
            <div class='col'>
                <hr>
                <label class='float-left mr-3'>
                    Select Furnance</label>
                <select ng-model="model.furnance1" class='form-control float-left col-md-5'>
                    <option value="{{ f.id }}" ng-repeat="f in  furnance_list">{{ f.furnance }}</option>
                </select>
                &nbsp;&nbsp;
        <a class='btn btn-primary' ng-click="selectFurnance(model.furnance1, fj)">Select</a>
        <br>
            </div>
        </div>
        <br>
    <div class="form-check mb-2">
        <h4>
            <input type='checkbox' class='form-check-input d-inline' style='width:40px' ng-model="fj.enable">&nbsp;&nbsp;Enable</h4>
    </div>
    <!--
        {{ fj }} -->
        <ng-include src="'/static/templates/safety.html'"></ng-include>
        <br>

    
                        <div class="row">
                            <div class="col-md-3">
                                <fieldset>
                                <legend>Previous Washing</legend>
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.prev_wash_notneed">
                                    <label class="form-check-label">Not Need</label>
                                  </div>
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.prev_wash_trw">
                                    <label class="form-check-label">TRW</label>
                                  </div>
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.prev_wash_tow">
                                    <label class="form-check-label">TOW</label>
                                  </div>
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.prev_wash_tbo">
                                    <label class="form-check-label">TBO</label>
                                  </div>
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.prev_wash_tbt">
                                    <label class="form-check-label">TBT</label>
                                  </div>

                                </fieldset>
                            </div>
                            <div class="col-md-3 border">
                                <h5>Boutan</h5> 
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.boutan">
                                    <label class="form-check-label">Boutan</label>
                                  </div>
                                <h5>Hand setting</h5>
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.hand_setting">
                                    <label class="form-check-label">Hand Setting</label>
                                  </div>
                                <h5>Rust Prevention</h5>
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.rust_prevention">
                                    <label class="form-check-label">Rust Prevention</label>
                                  </div>
<select ng-model='fj.values.rust_prevention_comment'  class='form-control' style='font-size:smaller'>
    <option ng-value="k" ng-repeat="(k,v) in rustPrevChoice">{{ v }}</option>
</select>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                <legend>Hopper Setting</legend>
                                 <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="fj.values.hopper_auto">
                                    <label class="form-check-label">Auto</label>
                                  </div>
                                  <div class="form-group">
                                      <label>Change Rate (Kg/hr)</label>
                                      <input type="text" class="form-control" ng-model="fj.values.chagerate_kg">
                                  </div>
                                  <div class="form-group">
                                      <label>Chart Time (Sec)</label>
                                      <input type="text" class="form-control" ng-model="fj.values.charttime">
                                  </div>
                                  <div class="form-group">
                                      <label>Total Weight (Kg)</label>
                                      <input type="text" class="form-control" ng-model="fj.values.totalweight">
                                  </div>
                                  <div class="form-group">
                                      <label>Vibration Level</label>
                                      <input type="text" class="form-control" ng-model="fj.values.vibration_level">
                                  </div>
                                  <div class="form-group">
                                      <label>Dumming Shutter High (mm)</label>
                                      <input type="text" class="form-control" ng-model="fj.values.dumming_shutter_high">
                                  </div>
                                </fieldset>
                            </div>

                        </div>
        <hr>
        <div class='row'>
        <div class='col-md-6'>
            <div class='form-group form-inline'>
        Current Furnance:
        
        <strong>
            {{ fj.furnance__furnance }}</strong>
            <label class='mr-2 ml-3'>PTN#</label> <input type='text' ng-model="fj.values.ptn" class='form-control' />
            </div>
            </div>
        </div>
        <!--
            {{ fj.values  }} -->
        <table class='table table-striped table-bordered'>
        <tr>
            <td>Topic</td>
            <td ng-repeat="c in getNumber(6) track by $index">{{ fj['furnance__qcol'+($index+1)] }}</td>
        </tr>
        <tr>
         
            <td>Temp.(C)</td>
            <td ng-repeat="c in getNumber(6) track by $index">
                <input type="text" ng-model="fj.values['temp']['qcol'+($index+1)]" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>CP(%)</td>
            <td ng-repeat="c in getNumber(6) track by $index">
                <input type="text" ng-model="fj.values['cp']['qcol'+($index+1)]" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>NH<sub>3</sub> (m/hr)</td>
            <td ng-repeat="c in getNumber(6) track by $index">
                <input type="text" ng-model="fj.values['nh3']['qcol'+($index+1)]" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>RX Gas(m3/hr)</td>
            <td colspan=6>
            
                <input type="text" ng-model="fj.values['rxgas']['qcol']" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>Speed/Time(min)</td>
            <td colspan=6>
                <input type="text" ng-model="fj.values['speed']['qcol']" class='form-control' />
            </td>
        </tr>
        <tr>

            <td>Oil Temp.(&#8451;)</td>
            <td colspan=3>
                HI SPEED QUENCH X 60°C
            </td>
            <td colspan=3>
                <input type="text" ng-model="fj.values['oiltemp']['qcol']" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>AGITATOR (Hz)</td>
            <td colspan=6>
            
                <input type="text" ng-model="fj.values['agitator']['qcol']" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>Feed Pattern</td>
            <td colspan=6>
            
                <input type="text" ng-model="fj.values['feedpattern']['qcol']" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>Cooling Fan(Hz)</td>
            <td>No.1</td>
            <td>
            
                <input type="text" ng-model="fj.values['coolfan1']" class='form-control' />
            </td>
            <td>Hz</td>
            <td>No.2</td>
            <td>
                <input type="text" ng-model="fj.values['coolfan2']" class='form-control' />
            </td>
            <td>Hz</td>
        </tr>
        <tr>
            <td>Jet Pump</td>
            <td>
                <input type='checkbox' ng-model="fj.values['jump_on']"  class='form-control' />
            </td>
            <td colspan=2>On</td>
            <td>
                <input type='checkbox' ng-model="fj.values['jump_off']"  class='form-control' />
            </td>
            <td colspan=2>Off</td>
        </tr>
        </table>
        <hr>
        <div class='row'>
            <div class='col-md-12'>
                <div class='form-inline'>
                    <label class='mr-2 ml-3'>PTN#</label> <input type='text' ng-model="fj.values.t_ptn" class='form-control' /></div>
        <table class='table table-striped table-bordered'>
        <tr>
            <td>
                TRT-{{ fj.furnance__furnance.split('-')[1] }}
            </td>
            <td colspan=6>
            TEMPERING / KARI TEMPER / COOLING
            </td>
        </tr>
        <tr>
            <td>Topic</td>
            <td ng-repeat="c in getNumber(6) track by $index">{{ fj['furnance__tcol'+($index+1)] }}</td>
        </tr>
        <tr>
            <td>Temp. (C)</td>
            <td ng-repeat="c in getNumber(6) track by $index">
                <input type="text" ng-model="fj.values['temp']['tcol'+($index+1)]" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>Time.(Min)</td>
            <td ng-repeat="c in getNumber(6) track by $index">
                <input type="text" ng-model="fj.values['time']['tcol'+($index+1)]" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>Speed / Time (Min)</td>
            <td colspan=6>
            
                <input type="text" ng-model="fj.values['speed']['tcol']" class='form-control' />
            </td>
        </tr>
        <tr>
            <td>Agitator (Hz)</td>
            <td colspan=2>
            
                <input type="text" ng-model="fj.values['agitator']['tcol1']" class='form-control' />
            </td>
            <td colspan=2>Pump Salt</td>
            <td colspan=2>
            
                <input type="text" ng-model="fj.values['agitator']['tcol2']" class='form-control' />
            </td>
        </tr>
        <tr>
        </table>
            </div>
            <!--
            <div class='col-md-4'>
                <table class="tabled table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>TBT</th>
                            <th>Tempering</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Temp. (&#8451;)</td>
                            <td>
                            
                                <input type="text" ng-model="fj.values['tbt']['temp']" class='form-control' />
                            </td>
                        </tr>
                        <tr>
                            <td>Time (Min)</td>
                            <td>
                            
                                <input type="text" ng-model="fj.values['tbt']['time']" class='form-control' />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
		<fieldset>
			<legend>Inspection Method by PD</legend>
<div class='row'>
			<div ng-if="fj.furnance__checkq_1" class="col-lg-12 col-md-12">
                                <h3 class='section'>{{ fj.furnance__checkq_1 }}</h3>
                                <table class="table table-striped table-bordered hidelabel thcenter" style='font-size:smaller'>

                                    <thead>
                                        <tr>
                                            <th>Check</th>
                                            <th>PD</th>
                                            <th colspan=4 class='text-center'>Standard</th>
                                            <th>Sent QA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Surface</td>
                                            <td>
                                                <input type="text" ng-model="fj.values.inspection.q_s_pd" class='form-control' />
                                            </td>
                                            <td style='width:200px'>
<select ng-model="fj.values.inspection.q_s_std" class='form-control' style='font-size:smaller'>
    <option ng-value="k" ng-repeat="(k,v) in testerChoice">{{ v }}</option>
</select>
                                            </td>
                                            <td>
                                                <input type="text" ng-model="fj.values.inspection.q_s_std_low" class='form-control stdbox' />
                                            </td>
                                            <td>-</td>
                                            <td>
                                            <input type="text" ng-model="fj.values.inspection.q_s_std_hi" class='form-control stdbox' />
                                            <td rowspan=2>
                                                <textarea  ng-model="fj.values.inspection.q_s_sent_qa" class='form-control'></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Core</td>
                                            <td>
                                            <input type="text" ng-model="fj.values.inspection.q_c_pd" class='form-control' />
                                            </td>
                                            <td style='width:200px'>
<select ng-model="fj.values.inspection.q_c_std" class='form-control' style='font-size:smaller'>
    <option ng-value="k" ng-repeat="(k,v) in testerChoice">{{ v }}</option>
</select>
                                            </td>
                                            <td>
                                            <input type="text" ng-model="fj.values.inspection.q_c_std_low" class='form-control stdbox' />
                                            </td>
                                            <td>-</td>
                                            <td>
                                            <input type="text" ng-model="fj.values.inspection.q_c_std_hi" class='form-control stdbox' />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                    <div class='col border' ng-controller="PhotoInpsectionCtrl" ng-init="initCtrl(fj)">
                                        <a class='btn btn-primary text-white' ng-click="createPhoto(fj,'Quenching')">Create Photo</a>
                                        <div class='row'>
                                            <div ng-repeat='photo in qPhotos' class='col-md-4 border p-3 mt-2 mb-2 text-center'>
                                                <input type="file" nv-file-select="" uploader="uploader" options="{formData:[{id:photo.id}]}" /><br>
                                                <img ng-src="/media/{{ photo.file }}"  ng-if="photo.file" class="img-thumbnail"/><br>
                                                <input type='text' ng-model="photo.caption" placeholder='caption' />
                                                <a ng-click="deleteFile(fj, photo)" class='btn btn-danger btn-xs'>X</a>
                                            </div></div>
                                    </div>
			</div>
			<div ng-if="fj.furnance__checkt_2" class="col-md-12 col-lg-12">
                <h3 class='section'>{{ fj.furnance__checkt_2 }}</h3>
                        <table class="table table-striped table-bordered hidelabel thcenter" style='font-size:smaller'>

                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>PD</th>
                            <th colspan=4 class='text-center'>Standard</th>
                            <th>Sent QA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Surface</td>
                            <td>
                                <input type="text" ng-model="fj.values.inspection.t_s_pd" class='form-control' />
                            </td>
                            <td style='width:200px'>
                                <!--
                                <input type="text" ng-model="fj.values.inspection.t_s_std" class='form-control' /> -->
<select ng-model="fj.values.inspection.t_s_std" class='form-control' style='font-size:smaller'>
    <option ng-value="k" ng-repeat="(k,v) in testerChoice">{{ v }}</option>
</select>
                            </td>
                            <td>
                                <input type="text" ng-model="fj.values.inspection.t_s_std_low" class='form-control stdbox' />
                            </td>
                            <td>-</td>
                            <td>
                            <input type="text" ng-model="fj.values.inspection.t_s_std_hi" class='form-control stdbox' />
                            <td rowspan=2>
                                <textarea ng-model="fj.values.inspection.t_s_sent_qa" class='form-control'></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Core</td>
                            <td>
                            <input type="text" ng-model="fj.values.inspection.t_c_pd" class='form-control' />
                            </td>
                            <td style='width:200px'>
<select ng-model="fj.values.inspection.t_c_std" class='form-control' style='font-size:smaller'>
    <option ng-value="k" ng-repeat="(k,v) in testerChoice">{{ v }}</option>
</select>
                            </td>
                            <td>
                            <input type="text" ng-model="fj.values.inspection.t_c_std_low" class='form-control stdbox' />
                            </td>
                            <td>-</td>
                            <td>
                            <input type="text" ng-model="fj.values.inspection.t_c_std_hi" class='form-control stdbox' />
                            </td>
                        </tr>
                    </tbody>
                </table>

                                    <div class='col border' ng-controller="PhotoInpsectionCtrl" ng-init="initCtrl(fj)">
                                        <a class='btn btn-primary text-white' ng-click="createPhoto(fj,'Tempering')">Create Photo</a>
                                        <div class='row'>
                                            <div ng-repeat='photo in tPhotos' class='col-md-4 border p-3 mt-2 mb-2 text-center'>
                                                <input type="file" nv-file-select="" uploader="uploader" options="{formData:[{id:photo.id}]}" /><br>
                                                <img ng-src="/media/{{ photo.file }}"  ng-if="photo.file" class="img-thumbnail"/><br>
                                                <input type='text' ng-model="photo.caption" placeholder='caption' />
                                                <a ng-click="deleteFile(fj, photo)" class='btn btn-danger btn-xs'>X</a>
                                            </div></div>
                                    </div>
			</div>
</div>
		</fieldset>
        <ng-include src="'/static/templates/bbar.html'"></ng-include>
    {% endverbatim %}
    </div>

</div>
