<div class='tab-pane fade' id="tih_tab" role="tabpanel">
    <h1>TIH</h1>
    <div ng-controller="TemplateForm2Ctrl" ng-init="init({{ jfs.6.id }})">
    {% verbatim %}
<div class='row'>
    <div class='col'>
    <hr>
    <label class='float-left mr-3'>
        Select Furnance</label>
<select ng-model="model.furnance1" class='form-control float-left col-md-5'>
    <option value="{{ f.id }}" ng-repeat="f in  furnance_list">{{ f.furnance }}</option>
</select>&nbsp;&nbsp;
        <a class='btn btn-primary' ng-click="selectFurnance(model.furnance1, fj)">Select</a>
    </div>
</div>
<br>
    <h4><input type='checkbox' class='form-control d-inline' style='width:40px' ng-model="fj.enable">Enable</h4>
    <!--
        {{ fj }} -->
        <ng-include src="'/static/templates/safety.html'"></ng-include>
                        <prev-wash-all object="fj"></prev-wash-all> 
        <hr>
        <div class='row'>
        <div class='col-md-6'>
            <div class='form-group form-inline'>
        Current Furnance:
        <strong>
            {{ fj.furnance__furnance }}</strong>
            </div>
            </div>
        </div>
        <code class="debug">
        {{ fj }}
        </code>
        <table class='table table-striped table-bordered'>
        <tr>
            <td>PTN# <input type="text" ng-model="fj.values.qptn" /></td>
            <td>Induction</td>
            <td>Unit</td>
        </tr>
        <tr ng-repeat="(key,value) in tableQ">
         
            <td>{{ value }}</td>
            <td>
                <input type="text" ng-model="fj.values['induction'][key]" class='form-control' />
            </td>
            <td ng-bind-html="tihUnit[value]">
            </td>
        </tr>
        <tr ng-repeat="(key,value) in tableT">
         
            <td>{{ value }}</td>
            <td>
                <input type="text" ng-model="fj.values['induction'][key]" class='form-control' />
            </td>
            <td ng-bind-html="tihUnit[value]">
            </td>
        </tr>
        </table>
        <hr>
<inspection object="fj"></inspection>
        <ng-include src="'/static/templates/bbar.html'"></ng-include>
    {% endverbatim %}
    </div>
</div>
