{% extends "master/furnance_list.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Furnance Edit" "furnance-edit" form.instance.pk %}
{% endblock %}
{% block main %}
<h1>Furnance Edit</h1>
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    {{ form.media }}
    <input type="submit" name="clone" value="Clone Param" />
    <h3>Quenching parameters</h3>
    <div id="jsoneditor" style="height:400px;width:100%;margin-bottom:20px"></div><br>
    <h3>Tempering parameters</h3>
    <div id="tjsoneditor" style="height:400px;width:100%;margin-bottom:20px"></div><br>
    <input type="submit" class='btn btn-primary' value="Update">
    {% if form.instance.pk is not None %}
    
    <a  class='btn btn-secondary' href="{% url "furnance-clone" form.instance.pk  %}">Clone</a>
    <a  class='btn btn-danger' href="{% url "furnance-delete" form.instance.pk  %}" onclick="return confirm('Are you sure ?')">Delete</a>
    {% endif %}
</form>
{% endblock %}
