<h3 class='section'>{{ n.furnance__furnance }}</h3>
<div class='checkbox'>
<label><input type='checkbox'  ng-model="n.is_batch" ng-change="batchActive(n, n.is_batch)"> is Batch</label>
</div>
<div ng-if="n.is_batch" ng-init="batchActive(n, n.is_batch)">
    
    <div class='form-check-inline' ng-repeat="bo in n.batch_options">
        <label class="form-check-label"><input type='checkbox'  name='batch_values[]' value="{{ bo.furnance }}" ng-checked="n.batch_values.indexOf(bo.furnance) > -1" ng-click="toggleSelection(n, bo.furnance)" class='form-check-input'>{{ bo.furnance }}</label>
    </div>
</div>
<div class='row'>
<div class='col-md-6' ng-if="n.furnance__enable_qcols !== ''">
<h5>Quenching</h5>
<table class='table table-striped table-border'>
    <tr>
        <th>Topic</th>
        <th  ng-repeat="c in n.furnance__enable_qcols.split(',') track by $index">{{ n['furnance__'+c] }}</th>
    </tr>
    <tr ng-repeat="k in n.furnance__params">
        <td ng-bind-html="k.text"></td>
        
        <td ng-repeat="c in n.furnance__enable_qcols.split(',') track by $index">

            <input class='form-control' type="{{ k.type }}" ng-model="n.values[k.key][c]" ng-if="k.type !== 'select'"/>
            <select ng-if="k.type == 'select'" class='form-control'
               ng-model="n.values[k.key][c]" ng-options="n for n in k.choices"></select>
        </td>
    </tr>
</table>
</div>
<div class='col-md-6' ng-if="n.furnance__enable_tcols !== ''">
<h5>Tempering</h5>
<table class='table table-striped table-border'>
    <tr>
        <th>Topic</th>
        <th  ng-repeat="c in n.furnance__enable_tcols.split(',') track by $index">{{ n['furnance__'+c] }}</th>
    </tr>
    <tr ng-repeat="k in n.furnance__tparams">
        <td ng-bind-html="k.text"></td>
        
        <td ng-repeat="c in n.furnance__enable_tcols.split(',') track by $index">

            <input class='form-control' type="{{ k.type }}" ng-model="n.values[k.key][c]" ng-if="k.type !== 'select'"/>
            <select ng-if="k.type == 'select'" class='form-control'
               ng-model="n.values[k.key][c]" ng-options="n for n in k.choices"></select>
        </td>
    </tr>
</table>
</div>
</div>
