<h1>Conveyor Template</h1>
<div>
    <label class='float-left mr-3'>
        Select Furnance</label>
<select ng-model="model.furnance1" class='form-control float-left col-md-5'>
    <option value="{{ f.id }}" ng-repeat="f in  furnance_list">{{ f.furnance }}</option>
</select>
</div>

<a class='btn btn-primary' ng-click="selectFurnance(model.furnance1, fj)">Select</a>
<br>
<hr>
<div class='row'>
<div class='col-md-6'>
    <div class='form-group form-inline'>
Current Furnance:
<strong>
    {{ fj.furnance__furnance }}</strong>
    <label class='mr-2 ml-3'>PTN#</label> <input type='text' ng-model="fj.values.ptn" class='form-control' />
    </div>
    </div>
</div>
<table class='table table-striped table-bordered'>
<tr>
    <td>Topic</td>
    <td ng-repeat="c in getNumber(6) track by $index">{{ fj['furnance__qcol'+($index+1)] }}</td>
</tr>
<tr>
 
    <td ng-bind-html="fj.furnance__params[0].text"></td>
    <td ng-repeat="c in getNumber(6) track by $index">
        <input type="number" ng-model="fj.values[fj.furnance__params[0].key]['qcol'+($index+1)]" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__params[1].text"></td>
    <td ng-repeat="c in getNumber(6) track by $index">
        <input type="number" ng-model="fj.values[fj.furnance__params[1].key]['qcol'+($index+1)]" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__params[2].text"></td>
    <td ng-repeat="c in getNumber(6) track by $index">
        <input type="number" ng-model="fj.values[fj.furnance__params[2].key]['qcol'+($index+1)]" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__params[3].text"></td>
    <td colspan=6>
    
        <input type="number" ng-model="fj.values[fj.furnance__params[3].key]['qcol']" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__params[4].text"></td>
    <td colspan=3>
        HI SPEED QUENCH X 60°C
    </td>
    <td colspan=3>
        <input type="number" ng-model="fj.values['oiltemp']['qcol']" class='form-control' />
    </td>
</tr>
<tr>

    <td ng-bind-html="fj.furnance__params[5].text"></td>
    <td colspan=6>
    
        <input type="number" ng-model="fj.values['agitator']['qcol']" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__params[6].text"></td>
    <td colspan=6>
    
        <input type="text" ng-model="fj.values[fj.furnance__params[6].key]['qcol']" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__params[7].text"></td>
    <td colspan=6>
    
        <input type="text" ng-model="fj.values[fj.furnance__params[7].key]['qcol']" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__params[8].text"></td>
    <td>No.1</td>
    <td>
    
        <input type="number" ng-model="fj.values['coolfan1']" class='form-control' />
    </td>
    <td>Hz</td>
    <td>No.2</td>
    <td>
        <input type="number" ng-model="fj.values['coolfan2']" class='form-control' />
    </td>
    <td>Hz</td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__params[9].text"></td>
    <td>
        <input type='checkbox' ng-model="fj.values['jump_on']"  class='form-control' />
    </td>
    <td colspan=2>On</td>
    <td>
        <input type='checkbox' ng-model="fj.values['jump_off']"  class='form-control' />
    </td>
    <td colspan=2>Off</td>
</tr>
</table>
<hr>
<div class='row'>
    <div class='col-md-8'>
        <div class='form-inline'>
            <label class='mr-2 ml-3'>PTN#</label> <input type='text' ng-model="fj.values.t_ptn" class='form-control' /></div>
<table class='table table-striped table-bordered'>
<tr>
    <td>
        TRT-{{ fj.furnance__furnance.split('-')[1] }}
    </td>
    <td colspan=6>
    TEMPERING / KARI TEMPER / COOLING
    </td>
</tr>
<tr>
    <td>Topic</td>
    <td ng-repeat="c in getNumber(6) track by $index">{{ fj['furnance__tcol'+($index+1)] }}</td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__tparams[0].text"></td>
    <td ng-repeat="c in getNumber(6) track by $index">
        <input type="number" ng-model="fj.values[fj.furnance__tparams[0].key]['tcol'+($index+1)]" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__tparams[1].text"></td>
    <td ng-repeat="c in getNumber(6) track by $index">
        <input type="number" ng-model="fj.values[fj.furnance__tparams[1].key]['tcol'+($index+1)]" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__tparams[2].text"></td>
    <td colspan=6>
    
        <input type="number" ng-model="fj.values[fj.furnance__tparams[2].key]['tcol']" class='form-control' />
    </td>
</tr>
<tr>
    <td ng-bind-html="fj.furnance__tparams[3].text"></td>
    <td colspan=2>
    
        <input type="number" ng-model="fj.values[fj.furnance__tparams[3].key]['tcol1']" class='form-control' />
    </td>
    <td colspan=2>Pump Salt</td>
    <td colspan=2>
    
        <input type="number" ng-model="fj.values[fj.furnance__tparams[3].key]['tcol2']" class='form-control' />
    </td>
</tr>
<tr>
</table>
    </div>
    <div class='col-md-4'>
        <table class="tabled table-striped table-bordered">
            <thead>
                <tr>
                    <th>TBT</th>
                    <th>Tempering</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Temp. (&#8451;)</td>
                    <td>
                    
                        <input type="number" ng-model="fj.values['tbt']['temp']" class='form-control' />
                    </td>
                </tr>
                <tr>
                    <td>Time (Min)</td>
                    <td>
                    
                        <input type="number" ng-model="fj.values['tbt']['time']" class='form-control' />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<a class='btn btn-primary' ng-click="save(fj)">Save Data</a>
